body{
    margin:0;
    padding:0;
    width:100%;
}

*{
    
    font-family: "ocr-a-std", monospace;
}

.main{
    width:100%;
    height:100vh;
    background-color:red;
    display:flex;
    align-items: flex-start;
}

.gifVideo{
   width: 100%;
   object-fit: cover;
}

.meny{
    width:100%;
    height:10%;
    background-color:rgb(59, 59, 59);
    color:rgb(199, 199, 199);
    position:fixed;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    font-size:100px;
}

.menyButton{
    margin-right: 3vh;
    display: flex;
    align-items: center;
    cursor:pointer;
}

.logoname{
    font-size:75px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    width:40vh;
    height:100%;
    background-color:#fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.list{
    list-style-type:none;
}
.nav-link{
    position:fixed;
    right:0;
}
