body{
    margin:0;
    padding:0;
    width:100%;
    max-width:100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

*{
 
    font-family: "ocr-a-std", monospace;
}

.background{
    display:flex;
}
.mainParrent{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.main{
    width:100%;
    height:100vh;
    display:flex;
    align-items: flex-start;
    position: fixed;
}


.header{
    display:flex;
    width:100%;
    background-color: rgb(58, 58, 58);
    justify-content: flex-end;
}

.gifVideo{
    right: 0;
    object-fit: cover;
    height:100vh;
    width:100%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(58, 58, 58);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:rgb(25, 121, 1);
    filter:grayscale(80%);
}
.sidebar a:hover {
    filter: brightness(10%);
  }

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/*Expore*/
#section2{
    background-image: url(images/green\ waves.jpg);
    background-color:black;
    height:100vh;
    width:100%;
    background-size:cover;
    display:flex;
    border-top: rgb(50, 82, 2);
    border-top-style: solid;
    border-top-width:2vh;
}

/*news*/
#section3{
    background-image: url(images/stenvägg.jpg);
    background-color:black;
    height:100vh;
    width:100%;
    background-size:cover;
    display:flex;
    border-top: rgb(50, 82, 2);
    border-top-width:2vh;
    border-top-style: solid;
}

/*about*/
#section4{
    background-image: url(images/green\ lines.jpg);
    background-color:black;
    height:100vh;
    width:100%;
    background-size:cover;
    display:flex;
    border-top: rgb(50, 82, 2);
    border-top-width:2vh;
    border-top-style: solid;
}